#chatContainer{
    position: relative;
    top: 0%;
    bottom: 0%;
    margin: auto;
    width: 90%;
    height: 90%;
    background-color:#FFF;
    right: 0%;
    left: 0%;
    box-shadow: -1px 1px 5px rgba(#ccc,0.5);
    border-radius: 3px;
    display: flex;
    flex-direction: row;

    app-sidebar{
        flex-basis: 30%;
        display: block;
    }
    #chat{
        // background-color: grey;
        flex-grow: 1;

        #chatPlaceHolder{
            display: flex;
            justify-content: center;
            text-align: center;
            color: blue;
        }
    }
}