<mat-card class="container">
    <mat-card-title style="text-align: center; color: red;">lOGIN HERE</mat-card-title>
    <form [formGroup]='LoginUserForm' (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-lg-12">
                <label for="username">Username</label>
                <input type="text" class="form-control" formControlName="username" required />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password" required />
            </div>
        </div>

        <div class="form-group row">
            <button type="submit" [disabled]="!LoginUserForm.valid"class="btn btn-primary">Login</button>&nbsp;&nbsp;
            <button (click)="navigateRegister()" class="btn btn-primary">
                <span class="spinner-border spinner-border-sm mr-1"></span>
                Register
            </button>
        </div>
    </form>
</mat-card>